<!DOCTYPE html>
<html class="light">
  <head>
    <title>Rails6TailwindSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0e5135d470.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-slate-50 dark:bg-slate-900">
    <header class="h-16">
      <div class="h-full mx-[10vw] flex justify-between items-center">
        <div></div>
        <div id="toggle-theme-switch" aria-label="Toggle Theme Mode"></div>
      </div>
    </header>
    <main class="prose prose-slate max-w-[64rem] rounded-sm shadow-md mx-auto my-4 p-6 bg-slate-100 dark:prose-invert dark:bg-slate-800">
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
