<!DOCTYPE html>
<html class="light">
  <head>
    <title>Rails6TailwindSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-slate-50 dark:bg-slate-800">
    <header>
      <div class="mx-[10vw] flex justify-between align-center">
        <div></div>
        <div id="toggle-theme-switch" aria-label="Toggle Theme Mode"></div>
      </div>
    </header>
    <main class="prose mx-auto my-4">
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
